@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Minecraft";
  src: url("../node_modules//pixel-retroui/fonts/Minecraft.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MinecraftBold";
  src: url("../node_modules//pixel-retroui/fonts/Minecraft-Bold.otf")
    format("opentype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --bg-color: #fefcd0;
  --text-color: #000000;
  --border-color: #000000;
  --shadow-color: #c381b5;
}

.theme-muddy {
  --bg-color: #ddceb4;
  --text-color: #30210b;
  --border-color: #30210b;
  --shadow-color: #30210b;
}

.theme-pop {
  --bg-color: #fefcd0;
  --text-color: #000000;
  --border-color: #000000;
  --shadow-color: #c381b5;
}

.theme-light {
  --bg-color: #fffefd;
  --text-color: #000000;
  --border-color: #000000;
  --shadow-color: #000000;
}

.theme-dark {
  --bg-color: #000000;
  --text-color: #ffffff;
  --border-color: #ffffff;
  --shadow-color: #ffffff;
}

.balloon {
  border-radius: 4px;
  position: relative;
  display: inline-block;
  padding: 1rem 1.5rem;
  margin: 8px;
  margin-bottom: 30px;
  background-color: #ffffff;
}

.balloon > :last-child {
  margin-bottom: 0;
}

.balloon::before,
.balloon::after {
  position: absolute;
  content: "";
}

.balloon.is-dark {
  border-radius: 0;
  color: #ffffff;
  background: #000000;
  border-image-outset: 2;
  box-shadow: 0 0 0 8px #000000;
}

.balloon.is-dark.from-left::before,
.balloon.is-dark.from-right::before {
  background-color: #000000;
  border-color: #ffffff;
}

.balloon.is-dark.from-left::after,
.balloon.is-dark.from-right::after {
  color: #ffffff;
  background-color: #000000;
}

.balloon.is-dark.from-left::before {
  box-shadow: -5px 10px 0 6px #000000;
}

.balloon.is-dark.from-left::after {
  box-shadow: -4px 0, 4px 0, -4px 4px #000000, 0 4px, -8px 4px, -4px 8px,
    -8px 8px;
}

.balloon.is-dark.from-right::before {
  box-shadow: 5px 10px 0 6px #000000;
}

.balloon.is-dark.from-right::after {
  box-shadow: -4px 0, 4px 0, 4px 4px #000000, 0 4px, 8px 4px, 4px 8px, 8px 8px;
}

.balloon.from-left::before,
.balloon.from-left::after {
  left: 2rem;
}

.balloon.from-left::before {
  bottom: -14px;
  width: 26px;
  height: 10px;
  background-color: #ffffff;
  border-right: 4px solid #000000;
  border-left: 4px solid #000000;
}

.balloon.from-left::after {
  bottom: -18px;
  width: 18px;
  height: 4px;
  margin-right: 8px;
  color: #000000;
  background-color: #ffffff;
  box-shadow: -4px 0, 4px 0, -4px 4px #ffffff, 0 4px, -8px 4px, -4px 8px,
    -8px 8px;
}

.rounded-corners {
  border-style: solid;
  border-width: 4px;
  border-image-slice: 3;
  border-image-width: 3;
  border-image-repeat: stretch;
  border-image-source: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(0,0,0)" /></svg>');
  border-image-outset: 2;
}

.rounded-corners-dark {
  border-style: solid;
  border-width: 4px;
  border-image-slice: 3;
  border-image-width: 3;
  border-image-repeat: stretch;
  border-image-source: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>');
  border-image-outset: 0;
}

.balloon.from-right::before,
.balloon.from-right::after {
  right: 2rem;
}

.balloon.from-right::before {
  bottom: -14px;
  width: 26px;
  height: 10px;
  background-color: #ffffff;
  border-right: 4px solid #000000;
  border-left: 4px solid #000000;
}

.balloon.from-right::after {
  bottom: -18px;
  width: 18px;
  height: 4px;
  margin-left: 8px;
  background-color: #ffffff;
  box-shadow: -4px 0, 4px 0, 4px 4px #ffffff, 0 4px, 8px 4px, 4px 8px, 8px 8px;
}
